/* Reset */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#body {
  background-color: #e7e7e7;
}

h1 {
  font-weight: bold;
}


/* Essentials */

.container {
  display: table;
}

.content {
  display: table-row;
  height: 100%;
}

.content-body {
  display: table-cell;
}

.scroller {
  max-height: 100%;
  overflow-y: auto;
}


/* Aestetics */

.container {
  width: 100%;
  height: 100%;
}

.header,
.footer {
  padding: 10px 20px;
  background: #a7a7a7;
  color: #fff;
}

.scroller {
  padding: 20px;
  background: #f7f7f7;
}

.top-links {
  display: flex;
  flex-direction: row;
}

.top-links>div {
  padding-right: 10px;
}

em {
  font-weight: bold;
  font-size: 1.5em;
}

em:after {
  content: "\a";
  white-space: pre;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}
