body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  overflow: auto;
  box-sizing: border-box;
}

header {
  height: 12vh;
  padding: 1em;
  background-color: #30747f;
}

header h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

div.black-bar {
  background-color: black;
  height: 0.5em;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 225, 150, 0.25);
}

aside {
  width: 25vw;
}

#left {
  /*background-color: red;*/
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* Standard syntax */
}

#right {
  /*background-color: red;*/
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(100, 225, 150, 1), rgba(100, 225, 150, 0)); /* Standard syntax */
}

content {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #3d9;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1 {
  display: flex;
  justify-content: center;
}

span.right-image {
  display: flex;
  flex-direction: row;
  /*margin: 1em;*/
}

span.right-image img {
  margin-left: 3em;
}

.top-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
}

.top-links div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  text-align: right;
  width: 150px;
  height: 75px;
  transform: translate(-20px, 90px) rotate(-10deg);
  transition: width 0.5s, transform 0.5s;
  background-color: #000;
}

.top-links div:hover {
  width: 200px;
  background-color: #111;
  transform: translate(-30px, 87px) rotate(-10deg);
}

.top-links div h2 {
  margin-left: auto;
  padding: 1em;
  color: #fff;
}

#grad {
  background: #f00; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255, 0, 0, 1), rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255, 0, 0, 1), rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0)); /* Standard syntax */
}

#back-block {
  width: 120vw;
  height: 100px;
  background-color: #09DE90;
  transform: translate(0px, 300px) rotate(-10deg);
  z-index: -1;
}

content span {
  /*border: 2px solid red;*/
  width: 70vw;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

content section {
  display: flex;
  flex-direction: row;
  /*border: 2px solid red;*/
  width: 70vw;
  margin: 0 auto;
  box-sizing: border-box; 
}

content section p {
  /*border: 2px solid red;*/
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box; 
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3em;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 768px) {

  /* For tablets */

}

@media only screen and (max-width: 320px) {

  /* For mobile phones */

  footer {
    position: fixed;
  }
  
}